@import-normalize; /* bring in normalize.css styles */

body {
  background: linear-gradient(to bottom, #233055, #615b5b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  overflow: hidden;

  color: white;
}
